:root {
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --main-bottom-color: #757575;
  --color-white: #ffffff;
  --button-link: #f5f4f4;
  --background-color: #2f303a;
  --studio: #000000;
  --section-bgc: #f5f4fa;
  --bg-icon: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.main {
  display: flex;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.studio {
  color: var(--studio);
}

.web {
  color: var(--accent-color);
}

.text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .header-item + .header-item {
  margin-left: 50px;
}

.header-list li:last-child {
  margin-right: 0px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact .header-item + .header-item {
  margin-left: 50px;
}

.header-logo-link {
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo-link:hover,
.header-logo-link:focus,
.header-logo-link:active {
  color: var(--accent-color);
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-title-color);
}

.current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
  color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--background-color);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 670px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  color: var(--color-white);
  letter-spacing: 0.06em;
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  color: var(--color-white);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: 270px;
}

.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--section-bgc);
  outline: 1px solid red;

  align-items: center;
  justify-content: center;
}

.features-list .features-item + .features-item {
  margin-left: 30px;
}

.features-skills-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-title-color);
  letter-spacing: 0.03em;
}

.features-skills-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-bottom-color);
  letter-spacing: 0.03em;
}

.employment {
  padding-top: 0;
}

.employment-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-title-color);
  letter-spacing: 0.03em;

  text-align: center;
}

.employment-list {
  display: flex;
}

.employment-item {
  width: 370px;
}

.employment-list .employment-item + .employment-item {
  margin-left: 30px;
}

.team {
  background-color: var(--section-bgc);
}

.team-list {
  display: flex;
}
.team-item {
  width: 270px;
}

.team-list .team-item + .team-item {
  margin-left: 30px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--main-title-color);
  letter-spacing: 0.03em;

  text-align: center;
}

.team-jpg {
  padding-top: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-player-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-title-color);

  text-align: center;
}

.team-text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--main-bottom-color);
  letter-spacing: 0.03em;

  text-align: center;
}

.social-network {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-network-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: aqua;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-network-icon {
  fill: var(--bg-icon);
}

.social-network-link:hover .social-network-icon,
.social-network-link:focus .social-network-icon,
.social-network-link:active .social-network-icon {
  fill: var(--color-white);
}

.social-network-link:hover,
.social-network-link:focus,
.social-network-link:active {
  background-color: var(--accent-color);
}

.filter-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn-shadow:hover,
.filter-btn-shadow:focus,
.filter-btn-shadow:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn {
  border-radius: 4px;
  padding: 6px 22px;
  border-style: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  background-color: var(--button-link);
  color: var(--main-title-color);
  letter-spacing: 0.03em;

  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: var(--button-link);
  background-color: var(--accent-color);
  cursor: pointer;
}

.primary {
  background-color: var(--accent-color);
  color: var(--color-white);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
}

.project-item-shadow:hover,
.project-item-shadow:focus,
.project-item-shadow:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

project-item-shadow:hover,
.project-item-shadow:focus,
.project-item-shadow:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-title-color);
  letter-spacing: 0.06em;
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
  color: var(--main-bottom-color);
  letter-spacing: 0.03em;
}

.footer-web {
  color: var(--accent-color);
}
.footer-studio {
  color: var(--color-white);
}

.footer-logo-link:hover,
.footer-logo-link:focus,
.footer-logo-link:active {
  color: var(--accent-color);
}

.footer-logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.button-contact {
  color: var(--main-bottom-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-color);
}

.adress {
  color: var(--color-white);
}

.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress {
  margin-top: 20px;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: var(--accent-color);
}
.foot-item {
  margin-bottom: 9px;
}
